<div class="login-container">
  <form #loginForm="ngForm" (submit)="login($event)" novalidate autocomplete="off"
        [class.opacity-50]="loading"
  >
    <mat-form-field>
      <input name="username" placeholder="نام کاربری" type="text"
             matInput
             required
             [(ngModel)]="username"
             [disabled]="loading"
             #usernameControl
      />
    </mat-form-field>

    <mat-form-field>
      <input name="password" placeholder="کلمه عبور" type="password" required
             matInput
             [(ngModel)]="password"
             [disabled]="loading"
             #passwordControl
      />
    </mat-form-field>

    <br>
    <button mat-raised-button type="submit" color="primary" routerLink="/profile"
            [disabled]="loginForm.invalid || loading"
    >ورود
    </button>
  </form>
</div>
