.card {
  width: 200px;
  background-color: #4caf50;
}

.header-image {
  background-image: url('../../../assets/images/users/profile.png');
  background-size: cover;
}

.mat-card-avatar {
  height: 60px;
  width: 60px;
}
