# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: node:latest
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    #### TEMPLATE_NOTE: go expects specific checkout path representing url
    #### expecting it in the form of
    ####   /go/src/github.com/circleci/go-tool
    ####   /go/src/bitbucket.org/circleci/go-tool
    working_directory: ~/angular-cli-circleci
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
            - ./cordova/node_modules

      # build web app
      - run: ./node_modules/@angular/cli/bin/ng build --prod

      # build android app
      - run: cd cordova/
      - run: mkdir www
      - run: npm install cordova
      - run: ls node_modules/
      - run: npm install
      - run: ./node_modules/cordova/bin/cordova platform add android
      - run: ./node_modules/cordova/bin/cordova build android
