<mat-sidenav-container dir="rtl">
  <mat-sidenav #sidenav>
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <mat-icon class="icon fab white" (click)="sidenav.toggle()" *ngIf="user">menu</mat-icon>

    <span class="white">حساب فان</span>

    <span class="spacer"></span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon class="white">more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>ورود</button>
    <button mat-menu-item>خروج</button>
  </mat-menu>

  <div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <!--<span class="done">-->
    <!--<button mat-fab>-->
    <!--<mat-icon>check circle</mat-icon>-->
    <!--</button>-->
    <!--</span>-->
  </div>

</mat-sidenav-container>
