body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.scrolling-content {
  overflow: auto;
  height: 100%;
  max-width: 300px;
}

mat-sidenav-container {
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  padding: 0 14px;
}

.fab {
  cursor: pointer;
}

.content {
  /*padding: 0 10px 10px 10px;*/
  padding: 10px;
}
