/**
*
*	Name:			IRANYekan Font
*	Version:		1.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 20, 2016
*	Updated on:		Dec 20, 2016
*	Website:		http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*
**/
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/woff2/iranyekanwebbold.woff2') format('woff2');  /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/woff2/iranyekanweblight.woff2') format('woff2');  /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/woff2/iranyekanwebregular.woff2') format('woff2');  /* FF39+,Chrome36+, Opera24+*/
}

/* Latin fonts (Roboto) */

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/woff2/robotobold.woff2') format('woff2');  /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/woff2/robotolight.woff2') format('woff2');  /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/woff2/robotoregular.woff2') format('woff2');  /* FF39+,Chrome36+, Opera24+*/
}

