/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent: mat-palette($mat-amber, A200, A100, A400);
$candy-app-theme: mat-dark-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
//@include angular-material-theme($candy-app-theme);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-green);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
}

/*@import 'https://fonts.googleapis.com/icon?family=Material+Icons';*/
@import "assets/fonts/iranyekan/css/fontiran.css";
/*@import url(assets/fonts/iranyekan/css/fontiran.css);*/

@font-face {
  font-family: MaterialIcons;
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/materialIcon.woff2") format('woff2');
}

.material-icons {
  font-family: MaterialIcons, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: iranyekan, roboto, roboto, sans-serif;
  /*direction: rtl;*/
  /*text-align: right;*/
}

h1, h2, h3, h4, h5, h6, input, textarea, span, mat-card, .mat-menu-item {
  font-family: iranyekan, roboto, sans-serif !important;
}

.white {
  color: cornsilk;
}
